*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    font-family: "ogg";
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

}
#main #left{
    width:50%;
    height: 100%;
    background-color:rgb(176,150,130);
}
#main #right{
    width: 50%;
    height: 100%;
    background-color:rgb(31,29,30);
}
#main #left #left1{
    position: relative;
    background-color: rgb(31,30,28);
    width: 110%;
    height: 100%;
    margin-left: 6%;
    margin-top: 5%;
    margin-right: -8%;
    z-index: 999;
}
#main #left #left1 #nav{
    width: 105%;
    color: rgb(140,114,92);
    display: flex;
    justify-content: space-between;
    padding: 6%;
}
#nav #i1{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#nav #i3{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#left1 h1{
    color: rgb(140,114,92);
    font-size: 60px;
    font-weight: 500;
    margin-top: 4%;
    margin-left: 20%;
    line-height: 85%;

}
#left1 img{
    height: 37%;
    position: absolute;
    top: 35%;
    left: 28%;
}
#left1 #ab{
    margin-left: 20%;
    margin-top: 18%;
    color: rgb(140,114,92);
    width: 40%;
    text-align: center;
    font-size: 8px;
}
#right img{
    height: 38%;
    position: absolute;
    top: 10%;

}
#right h1{
    color: rgb(140,114,92);
    position: absolute;
    top: 35%;
    right: 25%;
    z-index: 99;
    font-weight: 500;
    font-size: 45px;
}
#right #img img{
    position: absolute;
    top: 25%;
    right: 0%;
}
#left1 #photo img{
    margin-top: 37%;
    margin-left: -28%;
    height: 50%;
}
#left1 #photo1 img{
    margin-top: 42%;
    margin-left: 15%;
    height: 40%;
}
#left1 #photo h1{
    position: absolute;
    z-index: 999;
    font-size: 33px;
    bottom: 3%;
    left: -5%;
}
#right #write{
    position: absolute;
    top: 64%;
    right: -9%;
    width: 16%;
    font-family: 'Dancing Script', cursive;
    color: rgb(140,114,92);
}
#right #word{
    position: absolute;
    top: 83%;
    right: 34%;
    color: rgb(140,114,92);
}
#right #image img{
    height: 30%;
    position: absolute;
    top: 70%;
    right: 18%;
}